:root {
  --real-vh: 100vh;
}


.container {
  height: calc(var(--real-vh) * 100);
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3vh;
  background: linear-gradient(
      to top, 
      rgba(0, 0, 0, 0.888), 
      rgba(75, 60, 60, 0.3)
    ),
    url('/bg.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;  
  background-position: center;
  overflow-x: hidden;
}


.title {
  font-family: "playfair display", serif;
  color: #fcfbfb;
  font-size: 1.75rem;
  font-weight: bold;        
  text-transform: uppercase;
  letter-spacing: 0.19rem;   
  line-height: 1.6;
  transform: translateY(clamp(-19vh, -24vh, -28vh));
}

.subtitle {
  font-size: 3rem;        
  font-family: "allura", cursive;
  font-weight: bold ;
  color:  #f1ac59;
  line-height: 1.3; 
  transform: translateY(clamp(-23vh, -26vh, -30vh));
}

.guestName {
  position: absolute;
  font-family: "playfair display", serif;
  top: 50vh;        /* atur sesuai selera */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.20rem;
  font-weight: 600;
  color: white;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  z-index: 5;
}



.leftIcon,
.rightIcon {
  width: 1.75rem;    
  height: auto;
}

.rightIcon {
  transform: scaleX(-1);
}


.countdownWrapper {
  display: flex;
  gap: 0.87rem;       
  margin-top: 1vh;
  transform: translateY(clamp(25vh, 4vh, 5vh));
}

.timeBox {
  width: 4.37rem;        
  height: 4.37rem;
  font-family: "playfair display", serif;
  background: rgba(81, 88, 69, 0.158);
  backdrop-filter: blur(0.25rem);
  border-radius: 0.75rem;
  border: 1px solid rgba(255,255,255,0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timeBox span {
  font-size: 1.37rem;  
  font-weight: bold;
  color: #fcfbfb;
}

.timeBox small {
  font-size: 0.68rem;  
  text-transform: uppercase;
  margin-top: -0.18rem;
  letter-spacing: 0.06rem; 
  color: #fcfbfb;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;                 
  padding: 0.9rem 2rem;      
  border-radius: 0.75rem;    
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(0.5rem);
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-family: "playfair display", serif;
  font-size: 1.37rem;        
  font-weight: 600;
  color: rgb(248, 247, 247);
  cursor: pointer;
  transition: 0.3s ease;
  transform: translateY(clamp(1vh, 1vh, 4vh));
}

.button:hover {
  transform: scale(1.05);
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s ease;
}
