.navbar {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 8vh;              /* tinggi navbar fleksibel */

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: rgba(251, 248, 241, 0.60);
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);

  border-top: 0.08rem solid rgba(154, 120, 50, 0.25);

  z-index: 1000;
}

/* ICON */
.navbar a {
  font-size: 1.6rem;        /* ukuran icon */
  text-decoration: none;
  color: #7a5c2e;

  transition: transform 0.2s ease, opacity 0.2s ease;
}

.navbar a:active {
  transform: scale(1.15);
  opacity: 0.65;
}

/* ORNAMEN GARIS */
.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 15%;
  right: 15%;
  height: 0.1rem;
  background-color: rgba(212, 175, 55, 0.45);
}

.active {
  transform: translateY(-0.5vh) scale(1.15);
  color: #b28b32;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -0.6vh;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5rem;
  height: 0.15rem;
  background-color: rgba(178, 139, 50, 0.6);
  border-radius: 1rem;
}
